# CONECTION TO DATABASE
DB_URL=ENTER_YOUR_MONGODB_URL_HERE

NODE_ENV=development

# REDIS CONNECTION
REDIS_URI=ENTER_YOUR_REDIS_URI_HERE

# HASH
SALT_ROUND=12
ENCRYPTION_KEY=ENTER_YOUR_ENCRYPTION_KEY_HERE

USER_TOKEN_SECRET_KEY=ENTER_USER_TOKEN_SECRET_KEY
SYSTEM_TOKEN_SECRET_KEY=ENTER_SYSTEM_TOKEN_SECRET_KEY

USER_REFRESH_TOKEN_SECRET_KEY=ENTER_USER_REFRESH_TOKEN_SECRET_KEY
SYSTEM_REFRESH_TOKEN_SECRET_KEY=ENTER_SYSTEM_REFRESH_TOKEN_SECRET_KEY

ACCESS_EXPIRE_IN_DEV=18000
REFRESH_EXPIRE_IN_DEV=31536000
ACCESS_EXPIRE_IN_PROD=1800
REFRESH_EXPIRE_IN_PROD=604800
GOOGLE_CLIENT_ID=ENTER_GOOGLE_CLIENT_ID

EMAIL_APP_PASSWORD=ENTER_EMAIL_APP_PASSWORD
EMAIL_APP=ENTER_EMAIL_ADDRESS
